/* http://127.0.0.1:5500/FE7/福大助手.html */
body {
    margin: 0;
    padding: 0;
}

/* fzu.css (25, 8) */
#logo {
    position: relative;
    padding: 0;
    margin: 0;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#header {
    display: flex;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
/* fzu.css (1, 1) */
/* fzu.css (1, 1) */
/* fzu.css (22, 7) */
#nav {
    float: right;
    position: absolute;
    left: 1000px;
    display: flex;
    font-size: 20px;
    color: #0a8af7;
    top: 30px;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#nav1 {
    text-decoration: none;
    color: #0a8af7;
    padding: 10px;
    position: absolute;
    width: 100px;
    text-align: center;
}

#nav1:hover{
    border-bottom: 1px solid #0a8af7;
}

#nav2 {
    text-decoration: none;
    color: #0a8af7;
    padding: 10px;
    position: absolute;
    left: 150px;
    width: 100px;
    text-align: center;
}

#nav2:hover{
    border-bottom: 1px solid #0a8af7;
}





/* 福大助手.html (1, 1) */
#head {
    position: absolute;
    left: 200px;
    top: 20px;
}

/* 福大助手.html (1, 1) */
#headerlogo {
    width: 170px;
}




#download {
    display: flex;
    padding-top: 100px;
    padding-left: 50px;
}


/* http://127.0.0.1:5500/FE7/福大助手.html */
#content1 {
    top: 150px;
    position: absolute;
    background-image: url("星空.jpg");
}

/* fzu.css (2, 12) */
#section1 {
    
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-size:100% 100%;  
}

/* fzu.css (18, 12) */
#app-name {
    position: relative;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 0px;
    color: #0a8af7;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#app {
    display: flex;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
/* fzu.css (1, 1) */
#right1 {
    padding-top: 50px;
    padding-left: 250px;
    animation: approach2 0.5s;
    position: absolute;
    left: 650px;
    width: 400px;
}


#left1 {
    animation: approach1 0.5s;
    position: absolute;
    left: 300px;
}

#introduction {
    padding-top: 100px;
    color:grey;
}

#download1 {
    display: flex;
    padding-top: 100px;
}

/* fzu.css (208, 5) */
h1 {
    font-size: 30px;
    text-align: center;
}

/* fzu.css (213, 5) */
h4 {
    color: grey;
    font-size: 15px;
    text-align: center;
}

/* fzu.css (153, 12) */
#content2 {
    display: flex;
    font-family: 幼圆;
    padding-left: 200px;
    top: 70px;
    padding-top: 100px;
}


/* fzu.css (195, 9) */
#item2 {
    width: 350px;
    border: 1px solid #0a8af7;
    top: 800px;
    position: absolute;
    left: 600px;
    height: 300px;
}

/* fzu.css (225, 9) */
#item3 {
    width: 350px;
    border: 1px solid #0a8af7;
    top: 800px;
    position: absolute;
    height: 300px;
    left: 1000px;
}


/* http://127.0.0.1:5500/FE7/福大助手.html */
#content2{
    display: flex;
    font-family: 幼圆;
    padding-left: 200px;
    top: 70px;
}


#item1:hover {
    box-shadow: 5px 5px 5px #888888;
    top: 820px;
    
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#item1logo {
    width: 70px;
    top: 50px;
    left: 140px;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#item1_introduction {
    position: relative;
    top: 80px;
}


#item2:hover {
    box-shadow: 5px 5px 5px #888888;
    top: 820px;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#item2logo {
    width: 70px;
    top: 50px;
    left: 140px;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#item2_introduction {
    position: relative;
    top: 80px;
}


#item3:hover {
    box-shadow: 5px 5px 5px #888888;
    top: 820px;
}


/* http://127.0.0.1:5500/FE7/福大助手.html */
#item3logo {
    width: 70px;
    top: 50px;
    left: 140px;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#item3_introduction {
    position: relative;
    top: 80px;
}

/* http://127.0.0.1:5500/FE7/福大助手.html */
#section2 {
    width: 100%;
    height: 500px;
    
}




h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}


/* http://127.0.0.1:5500/FE7/福大助手.html */
img {
    z-index: 100;
    position: relative;
}


/* http://127.0.0.1:5500/FE7/福大助手.html */
#section3 {
    width: 100%;
    height: 500px;
    
}



/* http://127.0.0.1:5500/FE7/福大助手.html */

#separate {
    width: 1200px;
    left: 200px;
}

@keyframes approach1
{
    0% {left:50px;}
    25% {left:100px;}
    50% {left: 200px;}
    75% {left: 250px;}
    100% {left:300px;}
}

@keyframes approach2
{
    0% {left:850px;}
    25% {left:800px;}
    50% {left:750px;}
    75% {left: 700px;}
    100% {left: 650px;}
}



/* http://127.0.0.1:5500/FE7/福大助手.html */
#focuscircle1 {
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#focuscircle2
{
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;

}

#focuscircle3
{
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;

}

#focuscircle4
{
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;

}


/* http://127.0.0.1:5500/FE7/福大助手.html */
#focus {
    display: flex;
    padding-left: 100px;
    padding-top: 10px;
}

#homepage {
    position: absolute;
    z-index: 100;
}

#schedule {
    position: absolute;
    z-index: -1;
    animation: switch 4s;
}


/* fzu.css (412, 12) */
#slideshow {
    position: relative;
    height: 600px;
    width: 600px;
}

/* fzu.css (413, 16) */
#slideshow div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8;
    opacity: 0;
    height: 600px;
    overflow: hidden;
}

/* fzu.css (430, 12) */
#slideshow {
    position: relative;
    height: 600px;
    width: 425px;
    margin: 0 auto 15px;
}

/* fzu.css (431, 16) */
#slideshow div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8;
    opacity: 0;
    height: 600px;
    overflow: hidden;
}

#slideshow div.current{ 
    z-index:10;
}

#slideshow div.prev{
    z-index:9;
}

#slideshow div img{
    display:block;
    border:0;
    margin-bottom:10px;
}


/* fzu.css (1, 1) */
#download {
    display: flex;
    position: absolute;
    left: 330px;
    padding: 0;
    top: 250px;
    font-family: 微软雅黑;
}




/* fzu.css (23, 7) */
#nav {
    float: right;
    position: absolute;
    left: 1000px;
    display: flex;
    font-size: 20px;
    color: #0a8af7;
    top: 20px;
}

/* fzu.css (96, 12) */
#content1 {
    top: 80px;
    position: absolute;
    background-image: url("星空.jpg");
    height: 550px;
    width: 1600px;
}

/* fzu.css (112, 12) */
#app-name {
    position: relative;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 0px;
    color: white;
}

/* fzu.css (127, 10) */
#right1 {
    padding-top: 100px;
    padding-left: 250px;
    animation: approach2 0.5s;
    position: absolute;
    left: 650px;
    width: 400px;
}

/* fzu.css (137, 9) */
#left1 {
    animation: approach1 0.5s;
    position: absolute;
    left: 300px;
    top: 50px;
}

/* fzu.css (143, 16) */
#introduction {
    padding-top: 80px;
    color: white;
    font-weight: normal;
}

/* fzu.css (176, 9) */
#item1 {
    width: 350px;
    border: 1px solid #0a8af7;
    height: 300px;
    top: 800px;
    position: absolute;
}

/* fzu.css (206, 11) */
#content2 {
    display: flex;
    font-family: 幼圆;
    padding-left: 200px;
}

/* fzu.css (283, 12) */
#section2 {
    width: 100%;
    height: 500px;
}

/* fzu.css (292, 5) */
h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

/* fzu.css (318, 12) */
#section3 {
    width: 100%;
    height: 500px;
}

/* http://127.0.0.1:5500/FE7/福大助手2.0.html */
h3 {
    font-weight: normal;
}

#iosdownload1 {
    width: 190px;
    text-decoration: none;
    font-size: 22px;
    border: 1px solid grey;
    height: 40px;
    border-radius: 10px;
    color: white;
    text-align: right;
    padding-top: 10px;
    padding-right: 8px;
}


#iosdownload1:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

#androiddownload1 {
    margin-left: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 22px;
    border: 1px solid grey;
    height: 40px;
    border-radius: 10px;
    color: white;
    text-align: right;
    padding-top: 10px;
    padding-right: 8px;
}

#androiddownload1:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

/* fzu.css (148, 13) */
#download1 {
    display: flex;
    padding-top: 50px;
}

/* fzu.css (478, 12) */
#content3 {
    padding: 0;
    margin: 0;
    font-family: 幼圆;
    text-align: center;
    position: absolute;
    left: 220px;
    width: 1200px;
    border-top: 1px solid grey;
}

/* fzu.css (498, 5) */
h5 {
    font-size: 35px;
    color: #0a8af7;
    position: absolute;
    left: 300px;
}

/* fzu.css (505, 5) */
h6 {
    font-size: 25px;
    color: grey;
    padding: 0;
    position: absolute;
    top: 80px;
    left: 420px;
}

#ioslogo {
    width: 30px;
    position: absolute;
    left: 255px;
    top: 427px;
}


#androidlogo {
    position: absolute;
    width: 40px;
    left: 482px;
    top: 427px;
}

#iosdownload {
    width: 190px;
    text-decoration: none;
    font-size: 22px;
    border: 1px solid grey;
    height: 40px;
    border-radius: 10px;
    color: black;
    text-align: right;
    padding-top: 10px;
    padding-right: 8px;
}


#iosdownload:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

#androiddownload {
    margin-left: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 22px;
    border: 1px solid grey;
    height: 40px;
    border-radius: 10px;
    color: black;
    text-align: right;
    padding-top: 10px;
    padding-right: 8px;
}

#androiddownload:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

#ioslogo1 {
    position: absolute;
    width: 33px;
    left: 10px;
    top: 3px;
}

#androidlogo1 {
    position: absolute;
    width: 35px;
    left: 257px;
    top: 5px;
}
